elpa/
eln-cache/
auto-save-list/
backups/
.cache/
transient/
*~
#*#
.#*
.DS_Store
bookmarks
projectile-bookmarks.eld
nov-places
projects
.gemini-clipboard/
url/
/hackernews/
/request/
secrets.el
wasabi/
multisession/
tramp
var/
/.authinfo
